<div class="mainContain">
  <h1>{{title}}</h1>
  <div class="tabHolder">
    <div class="builderContain">
      <div class="stab top">
        <span>Apply STAB Bonus?</span>
            <!-- <select id="typeSelect">
              <option></option>
            </select> -->
        <span>
          <input type="checkbox"></input>
        </span>
      </div>
      <div class="inputs">
        <span>Percent Energy Gained:
          <input type="number" min="0" step=".5"></input>
        </span>
        <span>Damage Dealt:
          <input type="number" min="0" step=".5"></input>
        </span>
        <span>Duration in Seconds:
          <input type="number" min="0" step=".5"></input>
        </span>
      </div>
    </div>
    <div class="consumerContain">
      <div class="stab top">
        <span>Apply STAB Bonus?</span>
            <!-- <select id="typeSelect">
              <option></option>
            </select> -->
        <span>
          <input type="checkbox"></input>
        </span>
      </div>
      <div class="inputs">
        <span>Percent Energy Cost:
          <input type="number" min="0" step=".5"></input>
        </span>
        <span>Damage Dealt:
          <input type="number" min="0" step=".5"></input>
        </span>
        <span>Duration in Seconds:
          <input type="number" min="0" step=".5"></input>
        </span>
      </div>
    </div>
  </div>
</div>
